---
import Banner from "../components/banner/Banner.astro";
import Intro from "../components/intro/Intro.astro";
import Links from "../components/links/Links.astro";
import { THEME, TITLE } from "../content";
---

<html lang="en" class={THEME}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{TITLE} | Linksplash</title>
	</head>
	<body class="bg-zinc-100 dark:bg-zinc-900">
		<Banner />
        <div class="w-full flex flex-col items-center">
            <Intro />
        </div>
        <div class="mt-64 flex flex-col items-center w-full">
            <Links />
        </div>
	</body>
</html>

<style is:global>
    @font-face {
        font-family: 'Nunito';
        src: url('/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
</style>
